# 25 short code snippets
Help day to day Python tasks

## 1. Swap values between 2 variables

In [3]:
a = 5
b = 10
print("Before swapping the variables")
print("A : ",a)  # 5
print("B : ",b)  # 10
a,b = b,a  # swapping the values 
print("After swapping the variables")
print("A : ",a)  # 10
print("B : ",b)  # 5

Before swapping the variables
A :  5
B :  10
After swapping the variables
A :  10
B :  5

## 2. Check if the given number is even

In [5]:
# UDF that returns True if given number is even
def is_even(number):
  return number % 2 == 0

print(is_even(10))  # True
print(is_even(55))  # False

True
False

## 3. Split a multiline string into a list of lines

In [6]:
# Splitting a multiline string into a list of words
def split_lines(s):
  return s.split('\n')

split_lines('50\npython\nsnippets')  # ['50', 'python', 'snippets']

['50', 'python', 'snippets']

## 4. Combine a list of strings into a single string

In [22]:
# The next snippet combines a list of strings into a single string.
strings = ['50', 'python', 'snippets']
print(','.join(strings)) # 50,python,snippets

50,python,snippets

## 5. Find memory used by an object

In [8]:
# The python function 'getsizeof()' accepts an object, calls the object's 'sizeof()' method, & returns the result, so you can make your objects inspectable.
import sys
print(sys.getsizeof(5))  # 28
print(sys.getsizeof("Python"))  # 55

28
55

## 6. Reverse a string

In [10]:
language = "Python"  # string variable
reversed_language = language[::-1]  # reverse the string
print(reversed_language)  # nohtyP

nohtyP

## 7. Print a string n times

In [15]:
def repeat_string(str, n):
  return (str * n)

repeat_string('Python', 3)  # 'PythonPythonPython'

'PythonPythonPython'

## 8. Check if a string is a palindrome

In [21]:
def check_palindrome(str):
  return str == str[::-1]

print(check_palindrome('Python'))  # False
print(check_palindrome('madam'))  # True
print(check_palindrome('nurses run'))  # False

False
True
False

## 9. Find the first element of a list

In [23]:
def check_head(list):
  return list[0]

check_head([1,2,3,4])  # 1

1

## 10. Calculate union of 2 lists

In [25]:
# find common elements in 2 lists
def union(a,b):
  return list(set(a + b))

union([1,2,3,4], [9,6,2,4,8])  # [1, 2, 3, 4, 6, 8, 9]

[1, 2, 3, 4, 6, 8, 9]

## 11. Find all the unique elements present in a given list

In [27]:
# function that returns the unique elements present in a given list
def unique_elements(numbers):
  return list(set(numbers))

unique_elements([1,2,3,4,5,2,3])

[1, 2, 3, 4, 5]

## 12. Find the average of a list of numbers

In [33]:
# This function returns the average of two or more numbers present in a list.
def average(*args):
  return sum(args, 0.0)/len(args)

print(average(5,8,2))  # 5.0
print(average(3,5,90))  # 32.666666666666664

5.0
32.666666666666664

## 13. Check if a list contains all unique values

In [37]:
## This function checks if all the elements in a list are unique or not.
def unique(list):
  if len(list) == len(set(list)):
    print("All elements are unique")
  else:
    print("List has duplicates")

print(unique([1,2,3,4,5,6,7,8]))  # unique
print(unique([1,2,4,5,4]))  # duplicates

All elements are unique
None
List has duplicates
None

## 14. Track frequency of elements in a list

In [39]:
# 'Counter()' returns a dictionary with elements as keys and frequency of its occurrence as its values.
from collections import Counter
list = [1,2,3,2,4,3,2,3,1]
count = Counter(list)
print(count)

Counter({2: 3, 3: 3, 1: 2, 4: 1})

## 15. Find the most frequent element in a list

In [40]:
# This function returns the most frequent element that appears in a list.
def most_frequent(list):
    return max(set(list), key = list.count)
numbers = [1, 2, 3, 2, 4, 3, 1, 3]
most_frequent(numbers) # 3

3

## 16. Convert an angle from degrees to radians

In [41]:
# The next function is used for converting an angle from degrees to radians.
import math
def degrees_to_radians(deg):
  return (deg * math.pi) / 180.0
degrees_to_radians(90) # 1.5707963267948966

1.5707963267948966

## 17. Calculate time taken to execute a piece of code

In [42]:
# The following snippet is used for calculating the time taken to execute a piece of code.
import time
start_time = time.time()
a,b = 5,10
c = a+b
end_time = time.time()
time_taken = (end_time- start_time)*(10**6)
print("Time taken in micro_seconds:", time_taken) # Time taken in micro_seconds: 39.577484130859375

Time taken in micro_seconds: 91.07589721679688

## 18. Find gcd of a list of numbers

In [43]:
# This function calculates the greatest common divisor of a list of numbers.
from functools import reduce
import math
def gcd(numbers):
  return reduce(math.gcd, numbers)
gcd([24,108,90]) # 6

6

## 19. Find unique characters in a string

In [44]:
# This snippet can be used to find all the unique characters present in a string.
string = "abcbcabdb"   
unique = set(string)
new_string = ''.join(unique)
print(new_string) # abcd

bdca

## 20. Use lambda functions

In [45]:
# Lambda is an anonymous function with the capability of holding a single expression only.
x = lambda a, b, c : a + b + c
print(x(5, 10, 20)) # 35

35

## 21. Use map functions

In [1]:
# This function returns a list of the results after applying the given function to each item of a given iterable(list, tuple, etc.)
# Return double of n 
def addition(n):
	return (n + n)

# We double all numbers using map() 
numbers = (3, 2, 3, 4)
result = list(map(addition, numbers))
print(result)

[6, 4, 6, 8]

## 22. Use filter functions

In [3]:
# This function filters the given sequence with the help of a function that tests each element in the sequence to be true or not.
arr = [1, 2, 3, 4, 5]
arr = list(filter(lambda x : x%2 == 0, arr))
print (arr) # [2, 4]

[2, 4]

## 23. Use list comprehensions

In [8]:
'''
List comprehensions provide us with a simple way to create a list based on some iterable. 
During the creation, elements from the iterable can be conditionally included in the new list and transformed as needed.
'''
numbers = [1, 2, 3]
squares = [number**2 for number in numbers]
# squares = [i**2 for i in numbers]
print(squares) # [1, 4, 9]

[1, 4, 9]

## 24. Use slicing operator

In [9]:
'''
Slicing is used to extract a continuous sequence or subsequence of elements from a given sequence. 
The following function is used for concatenating the results of two slicing operations. 
First, we are slicing the list from index d to end, then from start to index d.
'''
def rotate(arr, d):
  return arr[d:] + arr[:d]
  
if __name__ == '__main__':
  arr = [1, 2, 3, 4, 5]
  arr = rotate(arr, 2)
  print (arr) # [3, 4, 5, 1, 2]

[3, 4, 5, 1, 2]

## 25. Use chained function call

In [10]:
# The final snippet is used to call multiple functions from a single line and evaluate the result.
def add(a, b):
    return a + b
def subtract(a, b):   
    return a - b
a, b = 5, 10
print((subtract if a > b else add)(a, b)) # 15

15